.container {
  width: 100%;
  max-width: 1190px;
  padding: 40px;
  margin: auto;

  &--short {
    max-width: 1000px;
  }

  &--contact-title {
    padding: 170px 40px 24px;
  }

  &--about-title {
    padding: 172px 40px 40px;
  }

  &--pricing-title {
    padding: 170px 40px 40px;
  }

  @include for-tablet {
    &--contact-title {
      padding: 164px 40px 16px;
    }

    &--pricing-title {
      padding: 164px 40px 30px;
    }

    &--about-title {
      padding: 163px 40px 40px;
    }

    &--footer {
      padding: 30px 40px;
    }
  }

  @include for-mobile {
    padding: 40px 24px;

    &--about-title {
      padding: 126px 24px 24px;
    }

    &--contact-title {
      padding: 126px 24px 16px;
    }

    &--pricing-title {
      padding: 126px 48px 24px;
    }
  }
}
