.container {
  width: 100%;
  max-width: 1190px;
  padding: 40px;
  margin: auto;

  &--short {
    max-width: 1000px;
  }

  &--contact-title {
    padding: 182px 40px 24px;
  }

  &--about-title {
    padding: 182px 40px 24px;
  }

  &--pricing-title {
    padding: 182px 40px 72px;
  }

  @include for-tablet {
    &--pricing-title {
      padding: 175px 40px 70px;
    }

    &--about-title {
      padding: 175px 40px 24px;
    }
  }

  @include for-mobile {
    padding: 40px 24px;

    &--about-title {
      padding: 126px 40px 24px;
    }

    &--contact-title {
      padding: 126px 48px 24px;
    }

    &--pricing-title {
      padding: 126px 48px 24px;
    }
  }
}
