.footer {
  position: relative;

  flex-shrink: 0;

  background: $secondary-color-darker-blue;

  color: $primary-color-white;

  overflow: hidden;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  @include for-mobile {
    &__wrapper {
      flex-direction: column;
    }

    .logo {
      margin-bottom: 40px;
    }
  }
}
