header {
  position: relative;

  display: flex;
  align-items: center;

  max-width: 1110px;
  padding: 40px;
  margin: auto;

  overflow: hidden;
}

@media (max-width: 768px) {
  header {
    padding: 40px 24px;
  }
}
