.menu {
  display: flex;
  flex-grow: 1;

  @include for-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;

    flex-direction: column;
    align-items: center;

    width: 80%;
    height: 100%;
    padding: 24px;
    padding-top: 95px;

    background-color: $secondary-color-darker-blue;

    color: $primary-color-white;

    transform: translate(110%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}
