.nav {
  display: flex;
  flex-grow: 1;

  margin-right: $margin-big;

  font-weight: 700;

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 40px;
  }

  &__link {
    transition: color 0.3s ease-in-out;

    cursor: pointer;
  }

  &--font-light {
    color: rgba($primary-color-white, 0.7);

    .nav__link {
      &:hover,
      &:active {
        color: $primary-color-white;
      }
    }
  }

  &--font-dark {
    color: rgba($secondary-color-dark-blue, 0.7);

    .nav__link {
      &:hover,
      &:active {
        color: $secondary-color-dark-blue;
      }
    }
  }

  @include for-mobile {
    justify-content: center;
    flex-grow: 0;

    width: 100%;

    margin: 0;
    margin-bottom: $margin-big;

    &__list {
      flex-direction: column;
      gap: 32px;
    }

    &--in-menu {
      padding-top: 40px;

      border-top: 1px solid rgba($primary-color-white, 0.15);

      font-size: 20px;
      line-height: 23.5px;
      color: rgba($primary-color-white, 0.7);

      .nav__link {
        &:hover,
        &:active {
          color: $primary-color-white;
        }
      }
    }
  }
}
