.partners-list {
  display: flex;
  flex-direction: column;
  flex-shrink: 3;

  width: 100%;
  max-width: 536px;

  &__title {
    max-width: 445px;
    margin-bottom: $margin-large;

    color: rgba($secondary-color-dark-blue, 0.75);
  }

  &__logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: fit-content;
      // height: 100%;
    }
  }

  @include for-tablet {
    &.section__col {
      max-width: 560px;
    }

    &__title {
      margin: auto;
      margin-bottom: $margin-large;
    }
  }

  @include for-mobile {
    &__logos {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
