// COLORS

$bg-primary-color: #edf3f8;

$primary-color-pink: #ba4270;
$primary-color-white: #fbfcfe;

$secondary-color-dark-blue: #36536b;
$secondary-color-light-blue: #6c8294;
$secondary-color-darker-blue: #1b262f;
$secondary-color-pink: #da6d97;

// FONT-FAMILY

$heading-fm: 'DM Serif Display', sans-serif;
$text-fm: 'Public Sans', sans-serif;

// MARGIN

$margin-small: 16px;
$margin-medium: 24px;
$margin-big: 32px;
$margin-large: 40px;
