.contact {
  &__title-wrapper {
    position: relative;
  }

  &__title {
    max-width: 730px;
  }

  @include for-tablet {
    &__title {
      max-width: 545px;
      margin: auto;

      text-align: center;
    }
  }
}
