body {
  background-color: $bg-primary-color;
  color: $secondary-color-dark-blue;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  padding: 0 40px;

  &__title {
    margin-bottom: $margin-medium;
  }

  &__desc {
    margin-bottom: $margin-big;
  }

  &__col {
    &--medium {
      max-width: 445px;
    }

    &--centered {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--header {
      max-width: 255px;
    }

    &--body {
      max-width: 635px;
    }
  }

  &--about {
    align-items: flex-start;
    padding: 28px 40px;
  }

  &--intro {
    .section__col {
      max-width: 546px;
      flex-grow: 1;
    }
  }

  &--partners {
    padding: 60px 40px;
  }

  &--intro {
    gap: 75px;

    padding: 75px 40px;
  }

  &--contact {
    padding: 96px 40px;
  }

  @include for-tablet {
    flex-direction: column;

    padding: 40px;

    &__col {
      max-width: 573px;

      text-align: center;

      &.up {
        order: -1;
      }

      &--header {
        max-width: 223px;
      }

      &--body {
        max-width: 456px;
      }
    }

    &--form-request {
      .section__col--medium {
        max-width: 445px;
      }
    }

    &--about {
      flex-direction: row;
      gap: 10px;

      .section__col {
        text-align: start;
      }
    }

    &--intro {
      gap: 48px;

      .section__col {
        max-width: 573px;
      }
    }

    &--partners {
      gap: 56px;

      .section__col {
        max-width: 456px;
      }
    }

    &--contact {
      gap: 16px;
    }
  }

  @include for-mobile {
    padding: 40px 24px;

    &__col {
      width: 100%;
    }

    &--about {
      flex-direction: column;
      align-items: center;

      .section__col {
        text-align: center;
      }
    }

    &--contact {
      gap: 40px;
    }
  }
}

.intro {
  &__desc {
    margin-left: 27px;
    margin-top: $margin-small;

    color: $secondary-color-light-blue;
  }

  &__title {
    margin-bottom: 60px;
  }

  &__image {
    width: 263px;
    height: 500px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  @include for-tablet {
    &__title {
      text-align: center;
    }

    &__desc {
      margin: 0;
      margin-top: $margin-small;
      text-align: center;
    }

    &__image {
      width: 159px;
      height: 300px;
    }
  }

  @include for-mobile {
    &__image {
      width: 128px;
      height: 240px;
    }
  }
}

.partners {
  background: $secondary-color-darker-blue;
  color: $primary-color-white;

  &__title {
    margin-bottom: $margin-medium;
  }

  &__desc {
    margin-bottom: $margin-big;

    color: rgba($primary-color-white, 0.7);
  }
}

.advantages {
  padding: 75px 40px;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__item {
    display: grid;
    align-items: center;

    font-size: 15px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.1;
  }

  &__title {
    margin-bottom: $margin-small;
  }

  &__icon {
    margin-bottom: $margin-big;
  }

  @include for-tablet {
    &__list {
      gap: 10px;
    }
  }

  @include for-mobile {
    padding: 40px 24px;

    &__list {
      grid-template-columns: 1fr;
      gap: 48px;

      max-width: 536px;
      margin: auto;
    }
  }
}
