.pricing {
  &__title {
    position: relative;
  }

  @include for-tablet {
    text-align: center;
  }
}

.plans {
  display: flex;
  gap: 30px;

  @include for-tablet {
    gap: 10px;
  }

  @include for-mobile {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
