body {
  color: $secondary-color-darker-blue;
  font-family: $text-fm;
  font-size: 15px;
  line-height: 28px;
}

.heading-h1-large {
  font-family: $heading-fm;
  font-size: 72px;
  line-height: 72px;

  @include for-tablet {
    font-size: 48px;
    line-height: 56px;
  }

  @include for-mobile {
    font-size: 32px;
    line-height: 36px;
  }
}

.heading-h1-small {
  font-family: $heading-fm;
  font-size: 56px;
  line-height: 56px;

  @include for-tablet {
    font-size: 48px;
    line-height: 56px;
  }

  @include for-mobile {
    font-size: 32px;
    line-height: 36px;

    &--price {
      font-size: 56px;
      line-height: 56px;
    }
  }
}

.heading-h2 {
  font-family: $heading-fm;
  font-size: 48px;
  line-height: 56px;

  @include for-mobile {
    font-size: 32px;
    line-height: 36px;
  }
}

.heading-h3-big {
  font-family: $heading-fm;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;

  @include for-mobile {
    font-size: 24px;
    line-height: 32px;
  }
}

.heading-h3-small {
  font-family: $text-fm;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.heading-h4 {
  font-family: $heading-fm;
  font-size: 24px;
  line-height: 32px;
}
